#main {
    /* add CSS here */
    margin: auto;
    max-width: 400px;
}
.pet {
    /* add CSS here */
    display: block;
    /*margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;*/
   /* border: dashed orangered;*/
    -webkit-box-shadow: 31px 22px 66px 19px rgba(0,0,0,0.75);
    -moz-box-shadow: 31px 22px 66px 19px rgba(0,0,0,0.75);
    box-shadow: 31px 22px 66px 19px rgba(0,0,0,0.75)
}
.colour{
    background: black;
    color: white;
    font-family: "Exotc350 DmBd BT";
    font-size: 20px;

}
.arrow{
    cursor: pointer;
}
.pic{

}
.pic img{
    width: 100%;
    border-radius: 20px;
}

.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: 20%;
}

.text-wrapper h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Shadows Into Light",cursive;


}
.text-wrapper h2{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Shadows Into Light",cursive;
}
.text h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Shadows Into Light",cursive;

}
body.content{
    -webkit-bacground-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body#home{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("will.jpg");
    background-attachment: fixed;

}
body#login{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/log.jpg");
    background-attachment: fixed;
}
.rectangle1{
    margin-top:10%;
    width: 100%;
    height: 700px;
    background: rgba(0,0,0,.5);
}

.box{
    background-color: #007bff;
    height: 500px;
    width: 400px;
    float: left;
    margin: 100px;
    border-radius: 20px;
}
.logbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:360px;
    height:430px;
    padding: 0px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.logbox p{
    margin:0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.logbox input{
    width: 100%;
    margin-bottom: 20%;
}
.logbox input[type="text"],
.logbox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    color: #fff;
    font-size: 16px;
}
::placeholder{
    color: rgba(255,255,255,.5);
}

.logbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: deepskyblue;
    cursor: pointer;
    border-radius: 20px;
}
.logbox input[type="submit"]:hover
{
    background: #005cbf;
}
.logbox a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.color{
    background: #007bff;
    color: white;
    font-family: "Exotc350 DmBd BT";
    font-size: 20px;
}